@import url("./catalog.css");

html {
  height: 100%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}
.body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex-grow: 1;
}
.footer {
  flex-shrink: 0;
}
 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
.page {
  background: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
}
.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin: 0 70px 0 70px;
  flex-wrap: wrap;
}

.navigation__items {
  display: flex;
  margin: 0 30px;
  flex-grow: 1;
  padding-left: 0;
  align-items: center;
}

.navigation__item {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item-link {
  padding: 17px;
  display: block;
}
.navigation__item-link:hover{
  border-bottom: #000000 solid 1px;
}

.user-menu {
  display: flex;
  align-items: center;
}
.user-menu__link-favorite {
  background-color: #7db54f;
  border-radius: 50%;
  color: white;
  vertical-align: top;
}
.user-menu__link {
  margin-right: 25px;
}
.user-menu__link:last-child {
  margin-right: 0;
}

.user-menu__btn {
  padding: 15px 9px;
  background-color: #756257;
  border-radius: 4px;
  color: white;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.promo {
  background-image: url(../image/montain.jpg);
  height: 485px;
  margin-bottom: 63px;
}



.section-promo__title {
  font-family: 'PT Sans';
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
margin-bottom: 31px;
}
.section-promo__subtitle {
font-family: 'PT Sans';
font-weight: 400;
font-size: 22px;
line-height: 36px;
text-align: center;
margin-bottom: 80px;
}
.promo__items{
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.promo__item{
  background-color: rgba(131, 179, 211, 0.12);
}
.promo__item:nth-child(4){
  background-color: rgba(131, 179, 211, 0.2);
}

.promo__title {
font-family: 'PT Sans';
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}
.promo__subtitle {
font-family: 'PT Sans';
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
margin: 0;
}
.promo__item:first-child,
.promo__item:nth-child(2){
  background-color: #83B3D3;
  color: white;
}
.promo__list{
  background: white;
  color: #000000;
  padding: 0;
}
.promo__list-item{
  background-color: rgba(131, 179, 211, 0.12);
}
.promo__list-item:nth-child(2){
  background-color: #FFFFFF;
}


.searh {
  text-align: center;
}

.searh__title {
font-family: 'PT Sans';
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
}
.searh__subtitle {
  font-family: 'PT Sans';
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #333333;
}
.searh__btn {
  background: #756257;
 border-radius: 10px;
 color: #FFFFFF;
 font-family: 'PT Sans';
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
}
.subscribe {
  text-align: center;
  background-image: url(../image/background.jpg);
}
.subscribe__title {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
}
.subscribe__subtitle {
 font-family: 'PT Sans';
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}

.subscribe__field-input {
  font-family: inherit;
  font-size: 18px;
  background-color: #f2f2f2;
}
.subscribe__btn {
font-family: 'PT Sans';
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border-radius: 0px 10px 10px 0px;
}

.contact {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 72px;

}
.contact__social {
  display: flex;
  padding: 0;
  
}
.contact__social-list {
  margin-right: 30px;
}
.contact__social-list:last-child{
margin-right: 0;
}

.contact__phone {
font-family: 'PT Sans';
font-weight: 400;
font-size: 40px;
line-height: 40px;
padding: 40px 0 40px;
}
